<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
        const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="script.js" defer></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"
        integrity="sha512-rCZdHNB0AePry6kAnKAVFMRfWPmUXSo+/vlGtrOUvhsxD0Punm/xWbEh+8vppPIOzKB9xnk42yCRZ5MD/jvvjQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/IDMNYU/p5.js-speech@0.0.3/lib/p5.speech.js"></script>
</head>

<body>
    <!--block out interface to look like its on a mobile device-->
    <div class="flex justify-center bg-black h-screen">
        <div class="w-3/12 bg-blue-900 flex flex-col">
            <!--header-->
            <div class="mx-auto py-2">LOGO</div>

            <!--video box-->
            <!-- <iframe></iframe> -->
            <div class="h-80 bg-gray-500"></div>

            <!--transcript bubbles-->
            <div class="flex-wrap">
                <div class="flex items-end justify-end pt-2">
                    <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                        <div><span class="px-4 py-2 rounded-lg inline-block bg-blue-600 text-white ">
                            <p class="break-normal">Example transcript bubble</p>
                        </span></div>
                    </div>
                </div>
                <div class="flex items-end justify-end pt-2">
                    <div class="flex flex-col space-y-2 text-xs max-w-xs mx-2 order-1 items-end">
                        <div><span class="px-4 py-2 rounded-lg inline-block bg-blue-600 text-white ">
                            <p class="break-words">Example transcript bubbleeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</p>
                        </span></div>
                    </div>
                </div>

                <div
                class="py-3 overflow-x-hidden overflow-y-auto opacity-0 w-full h-1/2 whitespace-nowrap px-6 flex flex-col gap-2"
                id="transcript"
              ></div>
            </div>
 
            <!--end button-->
            <footer class="bg-gray-800 mt-auto py-2 flex justify-center">
                <button class="bg-red-500 hover:bg-red-900 text-white font-bold py-2 px-5 rounded-full">
                    End
                </button>
            </footer>
        </div>
    </div>
</body>


<script>
    let vh = 0.01 * window.innerHeight;
    document.documentElement.style.setProperty("--vh", vh + "px");
</script>
<script>
    var urlArr = window.location.href.split("\/");
    document.getElementById("phoneNum").innerHTML = urlArr.pop();
    document.getElementById("hang").addEventListener("click", () => {
        window.location.href = "/";
    });
    var transcriptContainer = document.getElementById("transcript");
    var transcriptScrollHeight = transcriptContainer.scrollHeight;
    var scrollInterval;
    window.addEventListener("load", () => {
        // scrollInterval = self.setInterval(() => {
        //   if (transcriptContainer.scrollTop !== transcriptScrollHeight) {
        //     transcriptContainer.scrollTo(0, transcriptScrollHeight);
        //   }
        // }, 15);
    });

    var restartTimeout;
    transcriptContainer.addEventListener("scroll", () => {
        clearInterval(scrollInterval);
        clearTimeout(restartTimeout);
        // restartTimeout = setTimeout(() => {
        //   scrollInterval = self.setInterval(() => {
        //     if (transcriptContainer.scrollTop !== transcriptScrollHeight) {
        //       transcriptContainer.scrollTo(0, transcriptScrollHeight);
        //     }
        //   }, 500);
        // });
    });
</script>

</html>