<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Enter Classroom | Express Call</title>
    
    <!--import tailwindcss-->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <!--block out interface to look like its on a mobile device-->
    <div class="flex justify-center bg-black h-screen">
        <div class="w-3/12 bg-blue-900 flex flex-col justify-center text-center">
            <h1 class="text-white">Attending Now:</h1>
            <h2 class="text-white">MIT 6.S191: Intro to Deep Learning</h2>

            <!--join button-->
            <div class="flex justify-center pt-5">
                <button class="bg-green-500 hover:bg-green-900 text-white font-bold w-48 h-48 rounded-full text-3xl font-sans"
                onclick="window.location='/class/1'; window.open('/class/1', '_self')">
                    Start
                </button>
            </div>
        </div>
    </div>
</body>

</html>