<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="script.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"
      integrity="sha512-rCZdHNB0AePry6kAnKAVFMRfWPmUXSo+/vlGtrOUvhsxD0Punm/xWbEh+8vppPIOzKB9xnk42yCRZ5MD/jvvjQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/IDMNYU/p5.js-speech@0.0.3/lib/p5.speech.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/825a35d965.js"
      crossorigin="anonymous"
    ></script>

    <style>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      :root {
        --background-color: rgb(51 65 85);
        --text-color: #ffffff;
        --accent-color: #ef3124;
        --button-color: #343c76;
        --button-hover-color: #2a305e;
      }

      body {
        background: var(--background-color);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        color: var(--text-color);
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
      }

      .height {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
      }

      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }

      .me {
        align-self: flex-end;
        background-color: rgb(14 116 144);
      }
      .other {
        align-self: flex-start;
        background-color: rgb(55 65 81);
      }

      .bubble {
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        width: fit-content;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      i {
        line-height: 0;
      }
      #call:before,
      #call:after {
        content: "";
        position: absolute;
        bottom: 15%;
        left: 50%;
        height: 10px;
        width: 10px;
        transform: translate(-50%, -100%) rotate(-135deg);
        transform-origin: 50% 50%;
        transform-style: flat;
        border: 2px solid white;
        border-top: transparent;
        border-left: transparent;
        animation: scroll-down 1s ease-in-out infinite;
      }
      /* Animation Delay */
      #call::before {
        bottom: 14%;
        animation-delay: 0.3s;
      }

      /* Animation keyframes */
      @keyframes scroll-down {
        0% {
          opacity: 0;
        }
        30% {
          opacity: 1;
        }
        60% {
          opacity: 1;
        }
        100% {
          bottom: 20%;
          opacity: 0;
        }
      }
    </style>
  </head>

  <body class="height">
    <!-- create a circular logo -->
    <div
      class="container max-w-md mx-auto bg-slate-800 w-full aspect-square height flex flex-col gap-3 items-center"
    >
      <div
        class="flex justify-center items-center w-24 h-24 rounded-full bg-gray-200 mt-7 mb-2"
      >
        <i class="fa fa-user-o text-3xl text-gray-600"></i>
      </div>
      <div class="flex justify-center items-center flex-col gap-2">
        <h1 class="text-3xl text-stone-100 font-bold" id="phoneNum"></h1>

        <p class="text-center text-base" id="calling">Incoming call</p>
      </div>
      <div
        class="flex mt-auto justify-around items-center text-2xl py-7 w-full"
      >
        <button
          id="hang"
          class="bg-red-500/90 hover:bg-red-500 rounded-full text-3xl p-3 w-16 h-16 flex justify-center items-center mt-2"
        >
          <i class="bi bi-telephone-fill rotate-[135deg]"></i>
        </button>
        <button
          id="call"
          class="bg-green-500/90 hover:bg-green-500 rounded-full text-3xl p-3 w-16 h-16 flex justify-center items-center mt-2"
        >
          <i class="bi bi-telephone-fill"></i>
        </button>
        <button
          id="chat"
          class="bg-slate-500/50 hover:bg-slate-500 rounded-full text-3xl p-3 w-16 h-16 flex justify-center items-center mt-2"
        >
          <i class="bi bi-chat-right-text-fill"></i>
        </button>
      </div>
    </div>
    <script>
      document.getElementById("phoneNum").innerHTML = ROOM_ID;

      const accept = document.getElementById("call");
      accept.addEventListener("click", () => {
        window.location.href = `/${ROOM_ID}`;
      });

      const decline = document.getElementById("hang");
      decline.addEventListener("click", () => {
        window.location.href = "/";
      });
    </script>
  </body>
</html>
