<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="script.js" defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/p5.min.js"
      integrity="sha512-rCZdHNB0AePry6kAnKAVFMRfWPmUXSo+/vlGtrOUvhsxD0Punm/xWbEh+8vppPIOzKB9xnk42yCRZ5MD/jvvjQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/IDMNYU/p5.js-speech@0.0.3/lib/p5.speech.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <script
      src="https://kit.fontawesome.com/825a35d965.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
    <style>
      *,
      *::before,
      *::after {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }

      :root {
        --background-color: rgb(51 65 85);
        --text-color: #ffffff;
        --accent-color: #ef3124;
        --button-color: #343c76;
        --button-hover-color: #2a305e;
      }

      body {
        background: var(--background-color);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        color: var(--text-color);
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
      }

      .height {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
      }

      #video-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-auto-rows: 300px;
      }

      .me {
        align-self: flex-end;
        background-color: rgb(14 116 144);
      }
      .other {
        align-self: flex-start;
        background-color: rgb(55 65 81);
      }

      .bubble {
        padding: 0.5rem 1rem;
        border-radius: 9999px;
        width: fit-content;
      }

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      i {
        line-height: 0;
      }
    </style>
  </head>
  <body>
    <div
      class="container max-w-md mx-auto bg-slate-800 w-full aspect-square height flex flex-col gap-3 px-5 py-7 items-stretch"
    >
      <h1
        id="phoneNum"
        class="text-center text-4xl md:text-5xl lg:text-6xl font-bold pt-5"
      ></h1>
      <p class="text-center text-base" id="calling">
        calling <span class="dot-flashing">...</span>
      </p>
      <div
        class="py-3 overflow-x-hidden overflow-y-auto opacity-0 w-full h-1/2 whitespace-nowrap px-6 flex flex-col gap-2"
        id="transcript"
      ></div>
      <div
        class="grow grid grid-cols-3 grid-rows-2 justify-items-center items-center gap-2 text-2xl py-3 px-2"
      >
        <div class="flex flex-col gap-2">
          <button
            data-mute="false"
            class="w-16 h-16 p-2 bg-slate-500/50 flex justify-center items-center rounded-full relative hover:bg-slate-500"
          >
            <i class="bi bi-mic-fill"></i>
          </button>
          <p class="text-xs text-center">mute</p>
        </div>
        <div class="flex flex-col gap-2">
          <button
            id="keypad"
            class="w-16 h-16 p-2 bg-slate-500/50 flex justify-center items-center rounded-full relative hover:bg-slate-500"
          >
            <i class="bi bi-grid-3x3-gap-fill"></i>
          </button>
          <p class="text-xs text-center">keypad</p>
        </div>
        <div class="flex flex-col gap-2">
          <button
            id="speaker"
            class="w-16 h-16 p-2 bg-slate-500/50 flex justify-center items-center rounded-full relative hover:bg-slate-500"
          >
            <i class="fa-solid fa-volume-high"></i>
          </button>
          <p class="text-xs text-center">speaker</p>
        </div>
        <div class="flex flex-col gap-2">
          <button
            id="speaker"
            class="w-16 h-16 p-2 bg-slate-500/50 flex justify-center items-center rounded-full relative hover:bg-slate-500"
          >
            <i class="bi bi-plus-lg"></i>
          </button>
          <p class="text-xs text-center">add call</p>
        </div>
        <div class="flex flex-col gap-2">
          <button
            id="speaker"
            class="w-16 h-16 p-2 bg-slate-500/50 flex justify-center items-center rounded-full relative hover:bg-slate-500"
          >
            <i class="bi bi-camera-video-fill"></i>
          </button>
          <p class="text-xs text-center">FaceTime</p>
        </div>
        <div class="flex flex-col gap-2">
          <button
            id="speaker"
            class="w-16 h-16 p-2 bg-slate-500/50 flex justify-center items-center rounded-full relative hover:bg-slate-500"
          >
            <i class="bi bi-people-fill"></i>
          </button>
          <p class="text-xs text-center">contacts</p>
        </div>
      </div>
      <div class="grow flex flex-col justify-end items-center py-3">
        <button
          id="hang"
          class="bg-red-500/90 hover:bg-red-500 rounded-full text-3xl p-3 w-16 h-16 flex justify-center items-center mt-2"
        >
          <i class="bi bi-telephone-fill rotate-[135deg]"></i>
        </button>
      </div>
    </div>
    <div id="video-grid"></div>
    <!-- <button id="start">Start</button>
    <button id="stop">Stop</button> -->
    <script>
      let vh = 0.01 * window.innerHeight;
      document.documentElement.style.setProperty("--vh", vh + "px");
    </script>
    <script>
      var urlArr = window.location.href.split("\/");
      document.getElementById("phoneNum").innerHTML = urlArr.pop();
      document.getElementById("hang").addEventListener("click", () => {
        window.location.href = "/";
      });
      var transcriptContainer = document.getElementById("transcript");
      var transcriptScrollHeight = transcriptContainer.scrollHeight;
      var scrollInterval;

      var restartTimeout;
      transcriptContainer.addEventListener("scroll", () => {
        clearInterval(scrollInterval);
        clearTimeout(restartTimeout);
        // restartTimeout = setTimeout(() => {
        //   scrollInterval = self.setInterval(() => {
        //     if (transcriptContainer.scrollTop !== transcriptScrollHeight) {
        //       transcriptContainer.scrollTo(0, transcriptScrollHeight);
        //     }
        //   }, 500);
        // });
      });

      let speechRec = new p5.SpeechRec("en-US", gotSpeech);

      let continuous = true;
      let interim = false;

      speechRec.start(continuous, interim);

      function gotSpeech() {
        if (speechRec.resultValue) {
          console.log(speechRec.resultString);
          socket.emit("message", {
            message: speechRec.resultString,
            roomId: ROOM_ID,
          });
        }
      }
    </script>
  </body>
</html>
